##### Q1. Variables

name (string), age (integer), score (float).

Print them in one line separated by commas.

In [1]:
name = input("Enter the name:")
age = int(input("Enter the age:"))
score = float(input("Enter the score:"))
print(f"{name},{age},{score}")

Enter the name: John
Enter the age: 25
Enter the score: 89.5

John,25,89.5

##### Q2. List Basics

Given a list of numbers, return the sum and average.


Expected Output:
Sum: 100
Average: 25.0

In [105]:
def calculation(numbers):
    total = sum(numbers)
    average = total/len(numbers)

    return total,average

total, average = calculation([10, 20, 30, 40])
print(f"Sum: {total}")
print(f"Average:{average}")

Sum: 100
Average:25.0

##### Q3. Tuple Usage

Create a tuple of 5 cities.

Check whether "Delhi" exists in the tuple.

In [13]:
cities = ("Chennai","Bangalore","Pune","Delhi","Hyderabad")

if "Delhi" in cities:
    print("True")
else:
    print("False")

True

##### Q4. Dictionary Basics

Given:

student = {"name": "Amit", "marks": 85}


Add a new key "grade" with value "A"

In [6]:
student = {"name": "Amit", "marks": 85}
student.update({"grade":"A"})
print(student)

{'name': 'Amit', 'marks': 85, 'grade': 'A'}

##### Q5. For Loop

Print all even numbers from 1 to 20.

Expected Output:

2 4 6 8 10 12 14 16 18 20

In [14]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

##### Q6. While Loop

Using a while loop, calculate the factorial of 5.

Expected Output:

120

In [106]:
n = 5
fact = 1
while n > 1:
    fact *= n
    n -= 1
print(fact)

120

##### Q7. Loop + Condition

Count how many numbers are greater than 50 in:

nums = [10, 55, 60, 23, 89]

In [52]:
nums = [10, 55, 60, 23, 89]
ans = []

for numbers in nums:
    if numbers > 50:
        ans.append(numbers)
        
print(len(ans))

3

##### Q8. Function Basics

Write a function that returns the square of a number.

square(6)

In [55]:
def square(n):
    if not isinstance(n,int):
        return 'Invalid Error'

    return(n**2)

In [56]:
square(6)

36

##### Q9. Function + List

Write a function that returns only odd numbers from a list.

filter_odds([1,2,3,4,5])


Expected Output:

[1, 3, 5]

In [75]:
def filter_odds(nums):
    if not isinstance(nums,list):
        return 'Invalid Output'

    return [x for x in nums if x % 2 != 0]

In [76]:
filter_odds([1,2,3,4,5])

[1, 3, 5]

##### Q10. Dictionary + Function

Write a function that counts word frequency.

count_words("data science data")


Expected Output:

{'data': 2, 'science': 1}

In [81]:
def count_words(text):
    text = text.lower()
    words = text.split()

    word_counts = {}

    for word in words:
        if word.strip() == "":
            continue
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1

    return word_counts

In [82]:
count_words("data science data")

{'data': 2, 'science': 1}

##### Q11. List + Tuples:
-- Create a list of three numbers. -- Create a tuple with the same three numbers.

-- Modify the list by changing the second element. -- Try to modify the tuple’s second element.

-- If it fails, catch the error and return the error message. -- Return both the modified list and the tuple error message.

In [1]:
list = [35,47,98]
tuples = (35,47,98)

list[1] = 100

try:
    tuple[1] = 100
    error = "No error"
except TypeError as e:
    error = str(e)

print(list)
print(error)

[35, 100, 98]
'type' object does not support item assignment

##### Q12.Write a function:
-- Takes an integer score (0–100).

Returns:"A" if score ≥ 90 "B" if score ≥ 80 "C" if score ≥ 70 "D" if score ≥ 60 "F" otherwise

-- If the score is outside 0–100, return "Invalid score".

In [6]:
def grade_classifier(score):
    if score < 0 and score > 100:
        return 'Invalid Output'

    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score>= 60:
        return "D"
    else:
        return "F"
                
grade_classifier(55)

'F'

##### Q13.Requirements:
-- The function takes an integer n.

-- Use a for loop to calculate the sum of all even numbers from 1 to n (inclusive).

-- Use a while loop to count how many even numbers are in that range.

-- Return a dictionary:

In [2]:
def integer(n):
    even = 0
    for i in range(1,n+1):
        if i %2==0:
            even += i

    count = 0
    current_number = 1
    while current_number <= n:
        if current_number % 2 == 0:
            count += 1
        current_number += 1

    return {"sum_of_evens": even, "count_of_evens":count}

integer(10)

{'sum_of_evens': 30, 'count_of_evens': 5}

##### Q14.Functions + Error Handling
-- Requirements: The function takes two numbers: a and b.

Return the result of a / b.

If division by zero occurs, return the string: "Error: division by zero"

If either a or b is not a number, return: "Error: invalid input"

No printing — only return.

In [6]:
def divide (a,b):
    try:
        return a/b
    except ZeroDivisionError:
        return "Error:Divison by zero"
    except TypeError:
        return "Invalid Output"

divide(4,0)

'Error:Divison by zero'

##### Q15.Lists & List Comprehension
-- Requirements:

The function receives a list of integers nums.

Return a new list containing the squares of only the even numbers.

You must solve it using list comprehension.

If the input is not a list, return "Invalid input".

In [1]:
def squares(nums):
    if not isinstance(nums, list):
        return 'Invalid Output'

        
    return[x*x for x in nums if x%2==0]

In [2]:
squares([1, 2, 3, 4, 5])

[4, 16]

##### Q16. Dictionaries
-- Requirements:

Input: a string text. and Convert the string to lowercase.

Split it into words (split by spaces). Then Count how many times each word appears.

Return a dictionary where:key = word value = count

Ignore empty strings (e.g., multiple spaces).

Do NOT print anything — only return.

Example: word_frequency("Hello hello world") {"hello": 2, "world": 1}

In [2]:
def word_frequency(text):
    text = text.lower()
    words = text.split()

    word_counts = {}

    for word in words:
        if word.strip() == "":
            continue
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1

    return word_counts

word_frequency("Hello hello world")

{'hello': 2, 'world': 1}

##### Q17. Sets (Data Cleaning, Uniqueness, Membership)
-- Requirements:

Input: a list of integers nums. Remove duplicates using a set.

Return the unique values sorted in ascending order. If nums is not a list, return "Invalid input"

In [14]:
def unique_sorted(nums):
    if not isinstance(nums, list):
        return "Invalid input"
        
    return sorted(set(nums))

In [15]:
unique_sorted([4, 1, 2, 4, 3, 2])

[1, 2, 3, 4]

##### Q18. Strings
-- Requirements:

Input: a string text.

Remove:leading & trailing spaces extra spaces between words (convert multiple spaces → one space)

Convert the entire string to lowercase.

Remove punctuation characters:. , ! ? : ;

Return the cleaned string. If the input is not a string, return "Invalid input".

In [16]:
import re

def clean_text(text):
    if not isinstance(text, str):
        return "Invalid input"

    # lowercase
    text = text.lower()

    # remove punctuation: . , ! ? : ;
    text = re.sub(r'[.,!?:;]', '', text)

    # remove extra spaces
    text = " ".join(text.split())

    return text

In [17]:
clean_text("  Hello,,,   World!!  ")

'hello world'

##### Q19.  Lambda, Map, Filter
-- Requirements:

Input: a list of integers nums.

Use filter() + lambda to keep only positive numbers.

Use map() + lambda to square those positive numbers.

Convert the final result to a list and return it.

If input is not a list, return "Invalid input".

In [18]:
def process_numbers(nums):
    if not isinstance(nums, list):
        return "Invalid input"

    nums = list(filter(lambda x : x > 0 , nums))
    nums = list(map(lambda x: x * x, nums))

    return nums

In [19]:
process_numbers([-1, 0, 2, 3, -5])

[4, 9]

##### Q20. List of Dictionaries
-- Requirements:

records is a list of dictionaries where each dict has:{"name": "...", "score": number}

Return a new list containing only the dictionaries where score >= threshold.

If records is not a list of dicts, return "Invalid input".

No printing — only return.

In [20]:
def filter_records(records, threshold):
    if not isinstance(records, list):
        return "Invalid Output"
    for item in records:
        if not isinstance(item, dict):
            return "Invalid Output"

    result = [r for r in records if r.get("score", -1) >= threshold]
    return result

In [21]:
filter_records(
    [{"name": "A", "score": 50},
     {"name": "B", "score": 85},
     {"name": "C", "score": 90}],
    80)

[{'name': 'B', 'score': 85}, {'name': 'C', 'score': 90}]

##### Q21. File Handling
-- Requirements:

The function receives a filename (string).

Open the file in read mode. Read all lines.

Remove: newline characters (\n) leading/trailing spaces empty lines

Return a list of cleaned lines.

Use try/except to handle errors:

If the file does not exist → return "File not found"

If filename is not a string → return "Invalid input"

In [22]:
def read_clean_file(filename):
    if not isinstance(filename, str):
        return "Invalid input"

    try:
        with open(filename, "r") as f:
            cleaned_lines = []
            
            for line in f:
                cleaned = line.strip()   
                if cleaned:              
                    cleaned_lines.append(cleaned)
            
            return cleaned_lines

    except FileNotFoundError:
        return "File not found"
    except Exception:
        return "Error reading file"

##### Q22.List Comprehension + Conditional Logic
-- Requirements:

Given a list of integers nums, return a new list using list comprehension with the following rules:

If a number is even, store its square. If a number is odd, store its cube.

Ignore any item that is not an integer.

If nums is not a list → return "Invalid input".

In [23]:
def transform_list(nums):
    if not isinstance(nums, list):
        return "Invalid input"

    return [(x**2 if x % 2 == 0 else x**3) 
            for x in nums]

In [24]:
transform_list([1, 2, 3, 4])

[1, 4, 27, 16]

##### Q23. Generators
-- Requirements:

Use yield (not return).

Generate even numbers from 0 to n (inclusive).

If n is not an integer → return "Invalid input".

In [53]:
def generate_even(n):
    if not isinstance(n, int):
        return "Invalid input"

    for i in range(0,n+1,2):
        yield i

In [55]:
gen = generate_even(10)
print(list(gen))

[0, 2, 4, 6, 8, 10]

##### Q24. Dictionary Comprehension
-- Requirements:

Given a list of integers nums, return a dictionary comprehension where:

Key = the number Value = its square

Additional rules: Ignore non-integer items.

If nums is not a list → return "Invalid input".

Use dictionary comprehension only, not loops.

In [56]:
def square_dict(nums):
    if not isinstance(nums , list):
        return "Invalid Output"

    return {x:x**2 for x in nums if isinstance(x,int)}

In [58]:
square_dict([1, 2, 0.5])

{1: 1, 2: 4}

##### Q25. Write a function multiples_list(n, m):
Input: integers n and m

Output: a list of first n multiples of m

In [59]:
def multiples_list(n,m):
    if not isinstance(n, int):
        return "Invalid Output"
        
    return [(m*i) for i in range(1,n+1)]

In [60]:
multiples_list(5, 3)

[3, 6, 9, 12, 15]

##### Q26. Function + Dictionary + Loops
Write a function char_count(s):

Input: a string s

Output: a dictionary with character counts

In [67]:
def char_count(n):
    if not isinstance(n,str):
        return "Invalid Output"

    cha_counts = {}

    for cha in n:
        if cha in cha_counts:
            cha_counts[cha] +=1
        else:
           cha_counts[cha] = 1 

    return cha_counts

In [68]:
char_count("data")

{'d': 1, 'a': 2, 't': 1}

##### Q27. Write a function filter_primes(nums):
Input: a list of integers nums

Output: a list containing only the prime numbers

In [71]:
import math

def is_prime(num):
    if not isinstance(num, int):
        return False
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False

    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

def filter_primes(nums):
    if not isinstance(nums, list):
        return "Invalid input"

    prime_numbers = []
    for number in nums:
        if is_prime(number):
            prime_numbers.append(number)
    return prime_numbers

In [72]:
filter_primes([1, 2, 3, 4, 5, 6, 7])

[2, 3, 5, 7]

##### Q28. LIST OPERATIONS
(1) Write a function that removes duplicates from a list while keeping the original order.

In [74]:
def remove_duplicates(nums):
    if not isinstance(nums,list):
        return "INVALID OUTPUT"

    seen = set()
    result = []

    for x in nums:
        if x not in seen:
            seen.add(x)
            result.append(x)
    
    return result

In [75]:
remove_duplicates([1,12,2,13,13])

[1, 12, 2, 13]

(2) Write a function that returns a sorted version of the list both: ascending descending

In [77]:
def sorted_values(nums):
    if not isinstance(nums,list):
        return "Invalid Output"


    ascending = sorted(nums)
    descending = sorted(nums,reverse=True)
    return {"asc":ascending ,"des":descending}

In [78]:
sorted_values([4, 1, 7, 3])

{'asc': [1, 3, 4, 7], 'des': [7, 4, 3, 1]}

(3)Write a function that takes a list and returns a dictionary of item counts.

In [79]:
def count(s):
    if not isinstance(s,list):
        return "INVALID OUTPUT"

    counts = {}

    for x in s:
        if x in counts:
            counts[x] += 1
        else:
            counts[x] = 1

    return counts

In [80]:
count(["a","b","a"])

{'a': 2, 'b': 1}

(4)Write a function that filters values greater than a given threshold

In [81]:
def filter(nums,threshold):
    if not isinstance(nums,list) or not isinstance(threshold, int):
        return "Invalid Output"

    if not all (isinstance(x,int) for x in nums):
        return "Invalid Output"

    return [s for s in nums if s >= threshold]

In [82]:
filter([3,10,"7"],-6.6)

'Invalid Output'

##### Q29. NumPy Array Creation

Create a NumPy array from:

[1, 2, 3, 4, 5]


Print its type.

In [84]:
import numpy as np

In [85]:
a = np.array([1, 2, 3, 4, 5])
print(type(a))

<class 'numpy.ndarray'>

##### Q30. NumPy Operations

Given:

arr = np.array([10, 20, 30])


Multiply each element by 2.

In [86]:
arr = np.array([10, 20, 30]) 
print(arr * 2)

[20 40 60]

##### Q31. NumPy Statistics

Find the mean and max of:

[5, 10, 15, 20]

In [87]:
a = np.array([5, 10, 15, 20])
print(f" Mean : {np.mean(a)}")
print(f" Max : {np.max(a)}")

 Mean : 12.5
 Max : 20

##### Q32. NumPy Filtering

Filter values greater than 10 from:

[5, 12, 8, 20, 3]

In [88]:
a= np.array([5, 12, 8, 20, 3])
a = a[a>10]
print(a)

[12 20]

##### Q33. NumPy + Loop Logic

Count how many elements are even in:

[2, 5, 8, 11, 14]

In [89]:
a = np.array([2, 5, 8, 11, 14])

b = []
for elem in a:
    if elem % 2 == 0:
        b.append(elem)
        
print(len(b))

3